{% extends "home/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="card-deck">
        <div class="card shadow" style="width: 18em;">
            <div class="inner">
                <img class="card-img-top" src="/media/default_setting.png" alt="Card image" style="opacity: 0.9;">
            </div>
            <div class="card-body d-flex text-center flex-column">
                <h4 class="card-title">Copycat</h4>
                <p class="card-text">Python script used to balance the load traffic on the net.</p>
                <a href="{% url 'copycat' %}" class="btn btn-secondary mt-auto">Go to copycat</a>
            </div>
        </div>
        <div class="card shadow" style="width: 18em;">
            <div class="inner">
                <img class="card-img-top" src="/media/default_setting.png" alt="Card image" style="opacity: 0.9;">
            </div>
            <div class="card-body d-flex text-center flex-column">
                <h4 class="card-title">File List</h4>
                <p class="card-text">See the list of all the files in the system</p>
                <a href="{% url 'file_list' %}" class="btn btn-secondary mt-auto">File list</a>
            </div>
        </div>
        <div class="card shadow" style="width: 18em;">
            <div class="inner">
                <img class="card-img-top" src="/media/default_setting.png" alt="Card image" style="opacity: 0.9;">
            </div>
            <div class="card-body d-flex text-center flex-column">
                <h4 class="card-title">Working...</h4>
                <p class="card-text">Coming soon</p>
                <a href="#" class="btn btn-secondary disabled mt-auto">Coming soon...</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}