{% extends "home/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="card-deck">
        <div class="card shadow" style="width: 18em;">
            <div class="inner">
                <img class="card-img-top" src="/media/default_setting.png" alt="Card image" style="opacity: 0.9;">
            </div>
            <div class="card-body d-flex text-center flex-column">
                <h4 class="card-title">Copycat</h4>
                <p class="card-text">Python script used to balance the load traffic on the net.</p>
                <a href="{% url 'copycat' %}" class="btn btn-secondary mt-auto">Go to copycat</a>
            </div>
        </div>
        <div class="card shadow" style="width: 18em;">
            <div class="inner">
                <img class="card-img-top" src="/media/default_setting.png" alt="Card image" style="opacity: 0.9;">
            </div>
            <div class="card-body d-flex text-center flex-column">
                <h4 class="card-title">New User</h4>
                <p class="card-text">Create a new user for all the FTP server in the network.</p>
                <a href="#" class="btn btn-secondary disabled mt-auto">Create user</a>
            </div>
        </div>
        <div class="card shadow" style="width: 18em;">
            <div class="inner">
                <img class="card-img-top" src="/media/default_setting.png" alt="Card image" style="opacity: 0.9;">
            </div>
            <div class="card-body d-flex text-center flex-column">
                <h4 class="card-title">Working...</h4>
                <p class="card-text">Coming soon</p>
                <a href="#" class="btn btn-secondary disabled mt-auto">Coming soon...</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}